
<nav class="">
    <div class="flex align-items-center justify-content-between">
        <div>
            <app-menu></app-menu>
            
        </div>
        
        <div class="flex-inline">
            <p-button icon="pi pi-bell" styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>

            <p-splitButton label="{{sesionUsuario.nombre}}  {{sesionUsuario.apellidoP}} {{sesionUsuario.apellidoM}} " [model]="this.items" styleClass="p-button-text p-button-danger mr-2 mb-2 ">  
            </p-splitButton>
        </div>
        
    </div>
</nav>

<div>
    <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
     <!--  <app-table-ticket></app-table-ticket>--> 
    </div>
</div>
<app-alerta></app-alerta>
<div>
    <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'"></div>
</div>

<router-outlet></router-outlet>
