
<nav class="">
    <div class="flex align-items-center justify-content-between">
        <div>
            <app-menu></app-menu>
            
        </div>
        <span>Nombre: {{auth.nombre}}</span>
        <div class="flex-inline">
            <p-avatar shape="circle" icon="pi pi-user" pBadge value="4" severity="success" styleClass="mr-2"
            [style]="{'background-color':'#E30521','opacity':'0.2;', 'color': '#ffffff'}" size="large">
        </p-avatar>
            <p-splitButton label="Cuenta" [model]="this.items" styleClass="p-button-text p-button-danger mr-2 mb-2 ">  
            </p-splitButton>
        </div>
        
    </div>
</nav>

<div>
    <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
     <!--  <app-table-ticket></app-table-ticket>--> 
    </div>
</div>
<app-alerta></app-alerta>
<div>
    <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'"></div>
</div>

<router-outlet></router-outlet>
