<section class="container">
    <div>
        <p-table [value]="area" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{'min-width': '50rem'}"
            currentPageReportTemplate="mostrando {first} a {last} de {totalRecords} entradas"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between fondo">
                    <div>
                        <h1>Lugar y Area</h1>
                        <p>Dar de alta Area</p>
                    </div>
                    <div>
                        <button pButton pRipple type="button" label="Nuevo" (click)="openNew()"></button>
                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="idarea">ID<p-sortIcon field="idarea"></p-sortIcon></th>
                    <th>Area</th>
                    <th>Lugar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-areas>
                <tr>
                    <td>{{areas.idarea}}</td>
                    <td>{{areas.nombre_area}}</td>
                    <td>{{areas.ubicacion}}</td>

                </tr>
            </ng-template>
            <ng-template>
            </ng-template>
        </p-table>
    </div>
</section>
<p-dialog header="Header" [(visible)]="displayAddModal" [modal]="true" [style]="{height:'30vw', width: '50vw' }"
    styleClass="p-fluid">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Agregar Area</span>
    </ng-template>
    <form [formGroup]="agregarAreaForm">
        <div class="field">
            <label for="name">Nombre del Area</label>
            <input formControlName="nombre_area" pInputText required autofocus>
            <small class="p-error" >El nombre es
                requerido</small>

        </div>
        <div class="field">
            <label for="ubi">Lugar</label>
            <p-dropdown [options]="lugares" placeholder="Seleccione un lugar" formControlName="idlugar"
                optionLabel="ubicacion" optionValue="idlugar"></p-dropdown>
            <small class="p-error" >Elige un lugar</small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="closeModal()" label="Cancelar" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-check" (click)="addArea()" label="Agregar"
            styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>
<p-toast position="top-right"></p-toast>
<app-alerta></app-alerta>