<section class="container">
    <div>
        <div class="flex align-items-center justify-content-between fondo">
            <div>
                <h1>Nuevo Servicio</h1>
                <p>Ingresa un Nuevo Servicio</p>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="col-12 md:col-12">
        <Form [formGroup]="recoInfo">
            <div class="grid">
                <div class="col-12 md:col-4 ">
                        <label htmlFor="idfolios">Ingresa id del Folio</label>
                </div>
                <div class="col-12 md:col-4 ">
                </div>
                <div class="col-12 md:col-4 ">
                </div>
                <div class="col-12 md:col-4  wider-dropdown" *ngIf="num_inventario">
                    <p-dropdown formControlName="idactivos"  [options]="num_inventario" id="idactivos" placeholder="Seleccione num_inventario"
                    optionLabel="num_inventario" optionValue="idactivos" [showClear]="true"></p-dropdown><!--[options]="opciones"-->
                </div>
                
                <div class="col-12 md:col-4  wider-dropdown" *ngIf="servicio">

                    <p-dropdown formControlName="idtipo_servicio" [options]="servicio" id="idtipo_servicio" placeholder="Elige el tipo de servicio"
                        optionLabel="servicio" optionValue="idtipo_servicio" [showClear]="true"></p-dropdown><!--[options]="opciones"-->

                </div>
                <div class="col-12 md:col-4 wider-dropdown">
                    <p-dropdown formControlName="idlugar" [options]="lugares" id="idlugar" placeholder="idlugar" 
                    optionLabel="lugares" optionValue="idlugar" [showClear]="true"></p-dropdown><!--[options]="opciones"-->
                </div>
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <textarea formControlName="descripcion" rows="5" cols="60" id="descripcion" type="text"
                            pInputTextarea></textarea>
                        <label for="float-input">Descripcion</label>
                    </span>
                </div>
                <div class="col-12 md:col-6">
                    <span class="p-float-label">
                        <textarea formControlName="observaciones" rows="5" cols="60" id="observaciones" type="text"
                            pInputTextarea></textarea>
                        <label for="float-input">observaciones</label>
                    </span>
                </div>
            </div>
        </Form>
        <div class="col-12 md:col-12 text-right">
            <p-button styleClass="p-button-secondary mr-6" label="Cancelar"></p-button>

            <p-button icon="pi pi-check" pRipple label="Guardar" styleClass="p-button-text"></p-button>
        </div>
    </div>
</section>