<section class="container">
    <div>
        <div class="flex align-items-center justify-content-between fondo">
            <div>
                <h1>Solicitud de Nuevo Servicio</h1>
                <br>
                <div  class="col-12 md:col-12">
                    <p>Por favor, complete el siguiente formulario con los detalles del servicio proporcionado</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="col-12 md:col-12">
        <Form [formGroup]="recoInfo">
            <div class="grid">
                <div class="col-12 md:col-12">
                    <p><strong>EL NUMERO DE FOLIO ES:</strong>{{num_folio}}</p>
                    <br>
                </div>
                <div class="col-12 md:col-4" *ngIf="num_inventario">
                    <p-dropdown formControlName="idactivos"  [options]="num_inventario" id="idactivos" placeholder="Seleccione num_inventario"
                    optionLabel="num_inventario" optionValue="idactivos" [showClear]="true"></p-dropdown>
                    <small class="p-error" *ngIf="recoInfo.touched && recoInfo.invalid">Elige el N° de Invenario</small>
                </div>
                
                <div class="col-12 md:col-4" *ngIf="tiposervicio">

                    <p-dropdown 
                    [options]="tiposervicio" 
                    placeholder="Elige el tipo de servicio"
                    formControlName="idtipo_servicio" 
                    optionLabel="descripcion" 
                    optionValue="idtipo_servicio" 
                    
                    [showClear]="true"></p-dropdown><small class="p-error" *ngIf="recoInfo.touched && recoInfo.invalid">Elige un Servicio</small>

                </div>
                <div class="col-12 md:col-4" >
                    <p-dropdown 
                   
                    [options]="lugares" 
                    placeholder="Seleccione un lugar" 
                    formControlName="idlugar" 
                    optionLabel="ubicacion" 
                    optionValue="idlugar" ></p-dropdown>
                    <small class="p-error" *ngIf="recoInfo.touched && recoInfo.invalid">Elige un lugar</small>
                </div>

                <div class="col-12 md:col-6 " >
                    <span class="p-float-label">
                        <textarea formControlName="descripcion" rows="5" cols="60" id="descripcion" type="text"
                            pInputTextarea></textarea>
                        <label for="float-input">Descripcion</label>
                    </span>
                </div>
                <div class="col-12 md:col-6 ">
                    <span class="p-float-label">
                        <textarea formControlName="observaciones" rows="5" cols="60" id="observaciones" type="text"
                            pInputTextarea></textarea>
                        <label for="float-input">observaciones</label>
                    </span>
                </div>
            </div>
        </Form>
        <div class="col-12 md:col-12 text-right">
           

            <p-button icon="pi pi-check" pRipple (click)="addService()" label="Guardar" styleClass="p-button-text"></p-button>
        </div>
    </div>
</section>
<p-toast position="top-right"></p-toast>