<section class="container">
    <div>
        <div class="flex align-items-center justify-content-between fondo">
            <div>
                <h1>Registro de Nuevos Activos</h1>
                <i>Utiliza este formulario para agregar un nuevo activo al sistema. Completa los campos requeridos con
                    la información
                    correspondiente para crear un registro completo del activo en el sistema.</i>
            </div>
        </div>
        <p-toast></p-toast>
        <div class="col-12 md:col-12">
            <p-steps [model]="items" [readonly]="false" [(activeIndex)]="activeIndex"
                (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
        </div>



        <div *ngIf="activeIndex === 0">
            <form [formGroup]="step1Form" class="p-grid p-dir-col p-fluid">
                <div class="col-12 md:col-12">
                    <p-card>

                        <ng-template pTemplate="title"> Tipo de Activo </ng-template>
                        <ng-template pTemplate="subtitle">A quien pertenece el activo</ng-template>
                        <ng-template pTemplate="content">

<div class="col-12 md:col-6">
                            <div class="form-group" *ngIf="tipo_activo_desc"><!--*ngIf="tipo_activo_desc"-->

                                <p-dropdown [options]="tipo_activo_desc" placeholder="Seleccione Tipo de activo"
                                    formControlName="idtipoactivo" optionLabel="descripcion" optionValue="idtipoactivo"
                                    (onChange)="onChangeTipoActivo()" [showClear]="true"></p-dropdown>
                                <p></p><!--if de validacion-->
                            </div>
</div>
<div class="col-12 md:col-6">
                            <div class="form-group">
                                <p-dropdown formControlName="Pertenencia" [options]="opciones" placeholder="Pertenencia"
                                    [showClear]="true"></p-dropdown>
                                <p></p><!--if de validacion-->
                            </div>
</div>
<div class="col-12 md:col-6">
                            <div *ngIf="idtipoactivoSeleccionado === 1">
                                <p-dropdown [options]="iddetallepc" placeholder="Selecciona el numero de serie PC:"
                                    formControlName="iddetallepc" optionLabel="num_serie" optionValue="iddetallepc"
                                    (onChange)="onChangeDetallePc()" [showClear]="true"></p-dropdown>
                            </div>
                            </div>
                            <div class="col-12 md:col-6">
                             
                            <div *ngIf="idtipoactivoSeleccionado === 1">
                                <p-button type="button" label="REGISTRA UNA NUEVA PC" routerLink="../detallePc"
                                    icon="pi pi-plus" iconPos="right"></p-button>
                            </div>
</div>
                        </ng-template>

                        <ng-template pTemplate="footer">
                            <div class="grid grid-nogutter justify-content-end">
                                <p-button type="button" label="Siguiente" [disabled]="desactivarboton"
                                    (click)='onButtonClick()' icon="pi pi-angle-right" iconPos="right"></p-button>
                            </div>
                        </ng-template>

                    </p-card>
                </div>
            </form>

        </div>

        <div *ngIf="activeIndex === 1">
            <form [formGroup]="step2Form">
                <p-card>
                    <ng-template pTemplate="title"> Datos Personales</ng-template>
                    <ng-template pTemplate="subtitle">Datos del usuario acargo del activo nuevo</ng-template>
                    <ng-template pTemplate="content">
                        <div class="grid">

                            <div class="form-group col-6">
                                <div class="field">
                                    <span class="p-float-label">
                                        <input class="wtexto" formControlName="nombre_propietario" type="text" pInputText>
                                        <label htmlFor="nombre_propietario">Nombre del propietario</label>
                                        <p></p><!--if de validacion-->
                                    </span>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <span class="p-float-label">
                                        <input class="wtexto" formControlName="num_empleado" type="text" pInputText>
                                        <label for="float-input">Numero de Empleado</label>
                                        <p></p><!--if de validacion-->
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="password" type="text" pInputText>
                                    <label for="float-input">Contraseña</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <div class="grid grid-nogutter justify-content-end">
                            <p-button type="button" label="Siguiente" (click)="onActualizarClick()"
                                icon="pi pi-angle-right" iconPos="right"></p-button>
                            <p></p><!--On clic de siguiente pagina-->
                        </div>
                    </ng-template>

                </p-card>
            </form>
        </div>
        <div *ngIf="activeIndex === 2">
            <form [formGroup]="step3Form">
                <p-card>
                    <ng-template pTemplate="title">Lugar y Area</ng-template>
                    <ng-template pTemplate="subtitle">Lugar y area del activo</ng-template>
                    <ng-template pTemplate="content">
                        <div class="grid">
                            <div class="form-group col-6">
                                <p-dropdown [options]="lugares" placeholder="Seleccione un lugar"
                                    formControlName="idlugar" optionLabel="ubicacion"
                                    optionValue="idlugar"></p-dropdown>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <p-dropdown [options]="area" placeholder="Seleccione un Area"
                                        formControlName="idarea" optionLabel="nombre_area"
                                        optionValue="idarea"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-6">

                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <div class="grid grid-nogutter justify-content-end">
                            <p-button type="button" label="Siguiente" (click)="onActualizarUbiClick()"
                                icon="pi pi-angle-right" iconPos="right"></p-button>
                            <p></p><!--On clic de siguiente pagina-->
                        </div>
                    </ng-template>

                </p-card>
            </form>
        </div>

        <div *ngIf="activeIndex === 3">
            <form [formGroup]="step4Form">
                <p-card>
                    <ng-template pTemplate="title"> Datos Del Equipo</ng-template>
                    <ng-template pTemplate="subtitle">Descripcion de todo el equipo</ng-template>
                    <ng-template pTemplate="content">
                        <div class="grid">
                            <div class="form-group col-3">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="num_inventario" type="text" pInputText>
                                    <label for="float-input">Numero de Inventario</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>
                            <div class="form-group col-3">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="nombre_equipo" type="text" pInputText>
                                    <label for="float-input">Nombre del equipo</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>

                            <div class="col-3">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="marca" type="text" pInputText>
                                    <label for="float-input">Marca</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>
                            <div class="form-group col-3">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="modelo" type="text" pInputText>
                                    <label for="float-input">Modelo</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <span class="p-float-label">
                                        <input class="wtexto" formControlName="valor_monetario" type="text" pInputText>
                                        <label for="float-input">Valor monetario</label>
                                        <p></p><!--if de validacion-->
                                    </span>
                                </div>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="tipo_de_conexion" type="text" pInputText>
                                    <label for="float-input">Tipo de conexion</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <p-dropdown formControlName="estado" [options]="opcionesEstado" placeholder="Estado"
                                        [showClear]="true"></p-dropdown>
                                    <p></p><!--if de validacion-->
                                </div>
                            </div>
                               
                            </div>
                           <div class="grid">
                            <div class="col-12 md:col-12">
                                <div class="card flex justify-content-start">
                                    <span class="p-float-label">
                                        <textarea formControlName="descripcion" id="descripcion" rows="5" cols="100" pInputTextarea></textarea>
                                        <label for="float-input">Descripcion</label>
                                        <p></p><!--if de validacion-->
                                    </span>
                                </div>
                            </div>
                          
                        </div>

                    </ng-template>

                    <ng-template pTemplate="footer">
                        <div class="grid grid-nogutter justify-content-end">
                            <p-button type="button" label="Siguiente" (onClick)="onActualizarActivosClick()"
                                icon="pi pi-angle-right" iconPos="right"></p-button>
                            <p></p><!--On clic de siguiente pagina-->
                        </div>
                    </ng-template>

                </p-card>
            </form>
        </div>
        <div *ngIf="activeIndex === 4">
            <form [formGroup]="step5Form">
                <p-card>
                    <ng-template pTemplate="title"> Activo</ng-template>
                    <ng-template pTemplate="subtitle">Detalles del activo</ng-template>
                    <ng-template pTemplate="content">
                        <div class="grid">
                            <div class="col-3">
                                <span  class="form-group">
                                    <p-dropdown [options]="licencias" placeholder="Seleccione Licencia"
                                        formControlName="idLicencias" optionValue="idLicencias"
                                        optionLabel="nombre" [showClear]="true"></p-dropdown>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="host_teamviewer" type="text" pInputText>
                                    <label for="float-input">Host teamviewer</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>

                            <div class="form-group col-3">
                                <span class="p-float-label">
                                    <input class="wtexto" formControlName="password_teamviewer" type="text" pInputText>
                                    <label for="float-input">Contraseña teamviewer</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>

                            <div class="col-3">
                                <span class="p-float-label">

                                    <p-calendar formControlName="fecha_mantenimiento" [showIcon]="true"></p-calendar>
                                    <label for="float-input">Fecha mantenimiento</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>
                            <div class="col-6">
                                <span class="p-float-label">

                                    <p-calendar formControlName="calculoEstimado" [showIcon]="true"></p-calendar>
                                    <label for="float-input">Siguiente Mantenimiento</label>
                                    <p></p><!--if de validacion-->
                                </span>
                            </div>

                        </div>
                        <div>
                            <p-button type="button" (click)="openNew()" label="Accesorio" iconPos="right"
                                icon="pi pi-plus"></p-button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <div class="grid grid-nogutter justify-content-end">
                            <p-button type="button" label="Guardar" (click)="onFinalizarActivosClick()"
                                icon="pi pi-check" iconPos="right"></p-button>
                            <p></p><!--On clic de siguiente pagina-->
                        </div>
                    </ng-template>

                </p-card>
            </form>
        </div>
    </div>
</section>

<div class="card flex justify-content-center">

    <p-dialog header="REGISTRAR ACCESORIO" [(visible)]="displayAddModal" [maximizable]="true"
        [style]="{height:'35vw', width: '90vw' }">

        <form [formGroup]="accesorioForm">
            <section class="container">

                <div class="grid">

                    <div class="col-12 md:col-6">

                        <div class="field">
                            <span class="p-float-label">
                                <input formControlName="tipoaccesorio" pInputText id="tipoaccesorio" required autofocus>
                                <label htmlFor="tipoaccesorio">Tipo de accesorio</label>
                            </span>

                        </div>
                    </div>

                    <div class="col-12 md:col-6">
                        <div class="field">
                            <span class="p-float-label">
                                <input formControlName="serie" pInputText id="serie" required autofocus>
                                <label htmlFor="serie">Numero de Serie</label>
                            </span>
                        </div>
                    </div>

                    <div class="col-12 md:col-6">
                        <div class="field">
                            <span class="p-float-label">
                                <input formControlName="modelo" pInputText id="modelo" required autofocus>
                                <label htmlFor="modelo">Modelo</label>
                            </span>
                        </div>
                    </div>

                    <div class="col-12 md:col-6">

                        <div class="field">
                            <span class="p-float-label">
                                <input formControlName="descripcion" pInputText id="descripcion" required autofocus>
                                <label htmlFor="descripcion">Descripcion</label>
                            </span>
                        </div>

                    </div>
                    <div class="col-12 md:col-6">

                        <div class="field">
                            <span class="p-float-label">
                                <p-dropdown formControlName="status" [options]="opcionesEstado" placeholder="estado" [showClear]="true"></p-dropdown>
                                <label htmlFor="status">Estado</label>
                            </span>
                        </div>
                           

                    </div>
                </div>

            </section>

        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" (click)="insertAccesorio()" label="Añadir"
                styleClass="p-button-text"></p-button>

        </ng-template>
    </p-dialog>

</div>

<p-toast position="top-right"></p-toast>
<app-alerta></app-alerta>