<section class="container">
    <div>
        <form [formGroup]="infoForm">
        <p-table #dt [value]="licencias" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            [tableStyle]="{'min-width': '50rem'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]" editMode="row" dataKey="idLicencias">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between fondo">
                    <div>
                        <h1>Licencias</h1>
                        <p>Tabla de licencias</p>
                    </div>
                    <div>
                        <button pButton pRipple type="button" label="Nuevo" [routerLink]="['../NewLicencia']"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngIf="visibleNumLicencia"  style="width:14%">Id Licencia</th>
                    <th style="width:14%">Tipo de Licencia</th>
                    <th style="width:14%">Tipo de Licencia</th>
                    <th style="width:14%">Nombre</th>
                    <th style="width:14%">Folio compra</th>
                    <th style="width:14%">Formato</th>
                    <th style="width:14%">Descripcion</th>
                    <th style="width:16%">Accion</th>
                </tr>
            </ng-template>
           
            <ng-template pTemplate="body" let-lic let-editing="editing" let-ri="rowIndex">


                
                    <tr [pEditableRow]="lic" #htmlTableRowElement (ngSubmit)="onRowEditSave(lic)">

                        <td *ngIf="visibleNumLicencia" >
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" formControlName="idLicencias">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{lic.idLicencias}}
                                </ng-template>
                            </p-cellEditor>
                           
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" formControlName="numserie_licencia">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{lic.numserie_licencia}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td> 
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" formControlName="tipo_licencia">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{lic.tipo_licencia}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td> 
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" formControlName="nombre">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{lic.nombre}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                             <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" formControlName="folio_compra">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{lic.folio_compra}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td> 
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown formControlName="formato" [options]="opcionesFormato"id="formato" placeholder="formato"  ></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{lic.formato}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td> 
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" formControlName="descripcion">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{lic.descripcion}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-pencil"
                                    pInitEditableRow (click)="onRowEditInit(lic, ri  , htmlTableRowElement);"
                                    class="p-button-rounded p-button-text"></button>
                                <!--pInitEditableRow-->
                                <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-check"
                                    pSaveEditableRow (click)="onRowEditSave(lic)"
                                    class="p-button-rounded p-button-text p-button-success mr-2"></button><!--pSaveEditableRow-->
                                <button *ngIf="editing" pButton pRipple type="button" icon="pi pi-times"
                                    pCancelEditableRow 
                                    class="p-button-rounded p-button-text p-button-danger"></button><!--pCancelEditableRow-->
                            </div>
                        </td>
              
                </tr>
            </ng-template>
        
        </p-table>
    </form>
    </div>
</section>