<section>
    <div class="fondo-imagen">
        <div class="login-box ">
            <div class="login-card tamano560 ">
                <div>
                    <img src="../../../assets/images/big/LB_LOGOS.png" style="width: 20%;" alt="">
                </div>
                <div style="margin-top: 17px;">
                    <h1 class="box-title m-b-20 text-center">Recuperación de la cuenta</h1>
                </div>
                <div style="margin-top: 15px;">
                    <p>Para proteger tu cuenta, LinkBits quiere verificar que eres tú quien está intentando iniciar
                        sesión</p>
                </div>
             
                <form>
                    <div class="col-12 md:col-12">
                        <div class="grid" >
                            <div class="col-12 md:col-10" >
                                <label for="email">Correo electronico</label>
                                <input id="email" formControlName="email" autocomplete="off"
                                    class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                    pInputText style="background: #9c9b9b54;" type="text" />
                                <!--validacion-->
                            </div>
                            <div class="col-12 md:col-2">
                            <button pButton pRipple style="margin-top: 20%;" type="button" icon="pi pi-check"
                                class="p-button-text p-button-success mr-2" (click)="toggleInput()"></button>
                            </div>
                         
                            <div class="col-12 md:col-10" *ngIf="showInput">
                                <div>
                                    <p>Se acaba de enviar un correo electronico con tu codigo de verificacion a: </p>
                                </div>
                                <label for="codigo">Escribe Codigo</label>
                                <input id="codigo" formControlName="Codigo" autocomplete="off"
                                    class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                    pInputText style="background: #9c9b9b54;" type="text" />
                                <!--validacion-->
                            </div>
                            <div class="col-12 md:col-2" *ngIf="showInput" >
                                <button pButton pRipple style="margin-top: 80%;" type="button" icon="pi pi-check"
                                    class="p-button-text p-button-success mr-2" (click)="toggleInputDos()"></button>
                            </div>  
                            <div class="col-12 md:col-12" *ngIf="showInputdos">
                                <div>
                                    <p>Elige una contraseña segura y no la utilices en otras cuentas.</p>
                                </div>
                                <label for="contrasena">Contraseña Nueva</label>
                                <input id="contrasena" formControlName="contrasena" autocomplete="off"
                                    class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                    pInputText style="background: #9c9b9b54;" type="password" />
                                <!--validacion-->
                            </div>
                            <div class="col-12 md:col-12" *ngIf="showInputdos">
                                <div>
                                    <p>Seguridad de la contraseña:
                                    Utiliza al menos 8 caracteres. No uses una contraseña de otro sitio ni un nombre demasiado obvio, como el de tu mascota. </p>
                                </div>
                                <label for="verifiContrasena">Verifica contraseña</label>
                                <input id="verifiContrasena" formControlName="contrasena" autocomplete="off"
                                    class="p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                    pInputText style="background: #9c9b9b54;" type="password" />
                                <!--validacion-->
                            </div>
                             <div class="col-12 md:col-12" *ngIf="showInputdos">
                                <div class="form-group text-center m-t-20">
                                    <div class="col-xs-12">
                                        <button pButton class="p-button-danger" type="button">Iniciar
                                            sesión</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>

    </div>

</section>

<p-toast position="top-right"></p-toast>
<app-alerta></app-alerta>