<section class="container">
    <div>
         <p-table [value]="tickets" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            styleClass="p-datatable-sm" [scrollable]="true" [rowsPerPageOptions]="[10,25,50]"  selectionMode="single" [selection]="selectInfo">
            <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between fondo">
            <div>
                <h1>REASIGNACION</h1>
                <p>Reasigna al tecnico</p>
            </div>
        </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Fecha</th>
                <th>Folio</th>
                <th>Estado</th>
                <th style="width: 5rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
            <tr>
            <td>{{ticket.fecha_registro | date:'short'}}</td>
                <td>{{ticket.num_folio.slice(-5)}}</td>
                <td>{{ticket.estado_ticket}}</td>
                <td>
                    <p-button [routerLink]="['../ReasignacionByid', ticket.idfolios]" label="Asignar"
                        icon="pi pi pi-arrow-circle-right" styleClass="p-button-sm"></p-button>
                </td>
            </tr>
        </ng-template>
        
        </p-table>
        </div>
</section>