<section class="container">
    <div>
        <div class="flex align-items-center justify-content-between fondo">
            <div>
                <h1>Registro de Nuevas LICENCIAS</h1>
                <i>Utiliza este formulario para agregar una nueva licencia al sistema. Completa los campos requeridos con la información
                correspondiente para crear un registro completo del licencia en el sistema.</i>
            </div>
        </div>
    </div>
</section>
<section class="container">
        <div class="col-12 md:col-6 ">
            <Form [formGroup]="userInput" (ngSubmit)="addLicencia()">
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <span class="p-float-label">
                            <input formControlName="numserie_licencia" pInputText id="numserie_licencia" required
                                autofocus>
                            <label htmlFor="numserie_licencia">Ingresa el NS de la licencia</label>
                            
                        </span>
                    </div>
                    <div class="col-12 md:col-6">
                       
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="p-float-label">
                            <input formControlName="tipo_licencia" pInputText id="tipo_licencia" required autofocus>
                            <label htmlFor="tipo_licencia">Tipo de licencia</label>
                           
                        </span>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="p-float-label">
                            <input formControlName="nombre" pInputText id="nombre" required autofocus>
                            <label htmlFor="nombre">Nombre de la licencia</label>
                    
                        </span>
                    </div>
                    <div class="col-12 md:col-6">
                        <span class="p-float-label">
                            <input formControlName="folio_compra" pInputText id="folio_compra" required autofocus>
                            <label htmlFor="folio_compra">Numero de folio de compra</label>
                           
                        </span>
                    </div>
                    
                    <div class="col-12 md:col-6 wider-dropdown">
                       
                        <p-dropdown formControlName="formato" [options]="opciones"id="formato" placeholder="formato" [showClear]="true" ></p-dropdown>
                       
                    </div>

                    <div class="col-12 md:col-12 wider-textarea" >
                        <span class="p-float-label">
                            <textarea formControlName="descripcion" rows="5" cols="65" id="descripcion" type="text"
                                pInputTextarea></textarea>
                            <label for="float-input">Descripcion</label>
                        </span>
                    </div>
                </div>

            </Form>
            <div class="col-12 md:col-9 text-right">
                <p-button icon="pi pi-trash" (click)="LimpiarModal()" label="Limpiar" styleClass="p-button-text"></p-button>
                
                <p-button icon="pi pi-check" pRipple (click)="addLicencia()" label="Guardar" styleClass="p-button-text" [routerLink]="['../NewLicencia']"></p-button>
            </div>
        </div>

</section>
<p-toast position="top-right"></p-toast>
<app-alerta></app-alerta>