
<section class="container">
    <p-table #dt [value]="usuarios" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre_equipo','country.nombre_equipo','representative.nombre_equipo','status']" 
    [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
    [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between fondo">
            <div>
                <h1>Usuarios</h1>
            </div>
               <div class="inline-flex">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mr-2" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                <p-fileUpload mode="basic" accept="Pertenencia/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help mr-2" (click)="dt.exportCSV()"></button>
            
            <span class=" p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
            </span>

               </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th >Numero de Usuario <p-sortIcon field="code"></p-sortIcon></th>
            <th >Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno <p-sortIcon field="price"></p-sortIcon></th>
            <th>Email <p-sortIcon field=""></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                {{product.num_empleado}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Name</span>
                {{product.nombre}}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                {{product.apellidoP}}
            </td>
            <td style="width:14%; min-width:8rem;">
                <span class="p-column-title">Price</span>
                {{product.apellidoM}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Pertenencia</span>
                {{product.email}}
            </td>
            <td>
                <div class="flex">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button><!--Editar-->
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button><!--Eliminar-->
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</section>

<p-dialog [(visible)]="texts" [style]="{width: '450px'}" header="Agregar Usuario" [modal]="true"
styleClass="p-fluid">

<ng-template pTemplate="content">

    <form [formGroup]="recoInfo" (ngSubmit)="addUsuario()">
        <div class="field">
            <label for="insertUsuario">N° Empleado</label>
            <input formControlName="num_empleado" type="number" pInputText id="num_empleado" required autofocus>
            <small class="p-error" *ngIf="text && !usuari.num_empleado">Name is required.</small>
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input formControlName="nombre" pInputText id="ubi" required autofocus>
            <small class="p-error" *ngIf="text && !usuari.nombre">Name is required.</small>
        </div>
        <div class="field">
            <label for="apellidoP">Apellido Paterno</label>
            <input formControlName="apellidoP" pInputText id="apellidoP" required autofocus>
            <small class="p-error" *ngIf="text && !usuari.apellidoP">Name is required.</small>
        </div>
        <div class="field">
            <label for="apellidoM">Apellido Materno</label>
            <input formControlName="apellidoM" pInputText id="apellidoM" required autofocus>
            <small class="p-error" *ngIf="text && !usuari.apellidoM">Name is required.</small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input formControlName="email" pInputText id="email" required autofocus>
            <small class="p-error" *ngIf="text && !usuari.email">Name is required.</small>
        </div>
        <div class="field">
            <label for="status">Estado</label>
            <input formControlName="status" type="number" pInputText id="status" required autofocus>
            <small class="p-error" *ngIf="text && !usuari.status">Name is required.</small>
        </div>
        <div class="field">
            <label for="idrol">Rol</label>
            <p-dropdown [options]="roles" placeholder="Seleccione un Rol" formControlName="idrol" optionLabel="descripcion_rol" optionValue="idrol"></p-dropdown>
            <small class="p-error" *ngIf="text && !usuari.idrol">Name is required.</small>
        </div>
        <div class="field">
            <label for="ubi">Lugar</label>
            <p-dropdown [options]="lugares" placeholder="Seleccione un lugar" formControlName="idlugar" optionLabel="ubicacion" optionValue="idlugar"></p-dropdown>
            <small class="p-error" *ngIf="text && !usuari.idlugar">Name is required.</small>
        </div>
        <div class="field">
            <label for="idarea">Area</label>
            <p-dropdown [options]="area" placeholder="Seleccione un Area" formControlName="idarea" optionLabel="nombre_area" optionValue="idarea"></p-dropdown>
            <small class="p-error" *ngIf="text && !usuari.idarea">Name is required.</small>
        </div>
        <div class="field">
            <label for="password">Contraseña</label>
            <input formControlName="password" pInputText id="password" required autofocus>
            <small class="p-error" *ngIf="text && !usuari.password">Name is required.</small>
        </div>
        <p-button (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="addUsuario()" label="AÑADIR" [disabled]="usuari.invalid"></p-button>
    </form>


<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
<div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="products">Are you sure you want to delete <b>{{products.num_empleado}}</b>?</span>
</div>
<ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
</ng-template>
</p-dialog>

