<section class="container">
    <p-table #dt [value]="usuarios" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['num_empleado','country.num_empleado','representative.num_empleado','status']"
        [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts"
        [rowHover]="true" dataKey="id">


        <ng-template pTemplate="caption">
            <div class="flex justify-content-between fondo">
                <div>
                    <h1>Usuarios</h1>
                </div>


                <div class="inline-flex">
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>

                
                    <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help mr-2"
                        (click)="exportCSV()"></button>

                    <span class=" p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                            placeholder="Numero de Empleado" class="w-full sm:w-auto" />
                    </span>

                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Numero de Usuario <p-sortIcon field="code"></p-sortIcon></th>
                <th>Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno <p-sortIcon field="price"></p-sortIcon></th>
                <th>Email <p-sortIcon field=""></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-altaEmpleado>
            <tr>
                <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                    {{altaEmpleado.num_empleado}}
                </td>
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">Name</span>
                    {{altaEmpleado.nombre}}
                </td>
                <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                    {{altaEmpleado.apellidoP}}
                </td>
                <td style="width:14%; min-width:8rem;">
                    <span class="p-column-title">Price</span>
                    {{altaEmpleado.apellidoM}}
                </td>
                <td style="width:14%; min-width:10rem;">
                    <span class="p-column-title">Pertenencia</span>
                    {{altaEmpleado.email}}
                </td>
                <td>
                    <div class="flex" style="padding-left:10rem;">
                        
                      
                       
                       <!-- <button  pButton pRipple icon="pi pi-pencil"
                            class="p-button-rounded p-button-success mr-2"></button>-->
                        <!--<button pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-warning"></button>-->
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>

<div class="card flex justify-content-center">
   
    <p-dialog header="Añadir nuevo Usuario" [(visible)]="displayAddModal" [maximizable]="true" [style]="{height:'35vw', width: '90vw' }">

        <form [formGroup]="recoInfo" (ngSubmit)="addUsuario()">
            <section class="container">

            <div class="grid">
                
                <div class="col-3">
                    <div class="field">
                        <span class="p-float-label">
                            <input formControlName="num_empleado" 
                            pInputText 
                            id="num_empleado"
                            [class.is-invalid]="num_empleadoNovalidado"
                            required 
                            autofocus
                             />
                            <label htmlFor="num_empleado">N°Empleado</label>
                        <small class="p-error" *ngIf="num_empleadoNovalidado">Este campo es requerido</small>
                    </span>
                    </div>
                </div>
            
                <div class="col-3">
                    <div class="field">
                        <span class="p-float-label">
                            <input formControlName="nombre" 
                            pInputText 
                            id="nombre"
                            [class.is-invalid]="nombreNovalidado">
                            <label htmlFor="nombre">Nombre</label>
                            <small class="p-error" *ngIf="nombreNovalidado">El nombre es requerido.</small>
                    </span>
                    </div>
                </div>
            
                    <div class="col-3">
                    <div class="field">
                        <span class="p-float-label">
                            <input formControlName="apellidoP" pInputText id="apellidoP" [class.is-invalid]="apellidoPNovalidado" >
                            <label htmlFor="apellidoP">A.Paterno</label>
                            <small class="p-error" *ngIf="apellidoPNovalidado">El apellido es requerido.</small>
                    </span>
                    </div>
                </div>
            
                <div class="col-3">
                    <div class="field">
                        <span class="p-float-label">
                            <input formControlName="apellidoM" pInputText id="apellidoM" [class.is-invalid]="apellidoMNovalidado" required autofocus>
                            <label htmlFor="apellidoM">A.Materno</label>
                            <small class="p-error" *ngIf="apellidoMNovalidado">El apellido es requerido.</small>
                    </span>
                    </div>
                </div>
            
            </div>
        </section>
       
        <section class="container">
            <div class="grid">
                <div class="col-3">
                    <div class="field">
                        <span class="p-float-label">
                            <input formControlName="email" pInputText id="email" [class.is-invalid]="emailNovalidado" required autofocus>
                            <label htmlFor="email">Email</label>
                            <small class="p-error" *ngIf="emailNovalidado">El email es requerido.</small>
                    </span>
                    </div>
                </div>
           
                <div class="col-3">
                    <div class="field">
                        <span class="p-float-label">
                            <input formControlName="status" placeholder="1 Activo" type="number" pInputText id="status" [class.is-invalid]="statusNovalidado" required autofocus>
                            <label htmlFor="status">Estado</label>
                            <small class="p-error" *ngIf="statusNovalidado">Estado es requerido.</small>
                    </span>
                    </div>
                </div>
            
                <div class="col-3">
                    <div class="field">
                        
                        
                        <p-dropdown [options]="roles" placeholder="Seleccione un Rol" formControlName="idrol" [class.is-invalid]="idrolNovalidado"
                        optionLabel="descripcion_rol" optionValue="idrol"></p-dropdown>
                        <small class="p-error" *ngIf="idrolNovalidado">Email es requerido.</small>
                    
                    </div>
                </div>
            
            
                <div class="col-3">
                    <div class="field">
                       
                        <p-dropdown [options]="lugares" placeholder="Seleccione un lugar" formControlName="idlugar" [class.is-invalid]="idlugarNovalidado"
                        optionLabel="ubicacion" optionValue="idlugar"></p-dropdown>
                        <label htmlFor="Seleccione un lugar"></label>
                        
                        <small class="p-error" *ngIf="idlugarNovalidado">Lugar es requerido.</small>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="grid">
                <div class="col-3">
                    <div class="field">
                        
                        
                        <p-dropdown [options]="area" placeholder="Seleccione un Area" formControlName="idarea" [class.is-invalid]="idareaNovalidado"
                        optionLabel="nombre_area" optionValue="idarea"></p-dropdown>
                        
                        <small class="p-error" *ngIf="idareaNovalidado">Area es requerido.</small>
                    </div>
                </div>
                <div class="col-3">
                    <div class="field">
                        <span class="p-float-label">
                            <input formControlName="password" pInputText id="password" [class.is-invalid]="passwordNovalidado" required autofocus>
                            <label htmlFor="password">Contraseña</label>
                            <small class="p-error" *ngIf="passwordNovalidado">La contraseña es requerida.</small>
                    </span>
                    </div>
                </div>
            </div>
            </section>
        </form>
        
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="closeModal()" label="Cancel"  styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" (click)="addUsuario()" label="Añadir"  styleClass="p-button-text"></p-button>
            
        </ng-template>
    </p-dialog>
    <p-toast position="top-right"></p-toast>
    <app-alerta></app-alerta>
</div>