1111111111111111111
<div class="card">
    <h5>tickets 😬</h5>
    <p-table [value]="tickets" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">idfolios</th>
                <th style="width:25%">fecha_registro</th>
                <th style="width:25%">idtipo_servicio</th>
                <th style="width:25%">asunto</th>
                <th style="width:25%">estado_ticket</th>
                <th style="width:25%">idusuarios</th>
                <th style="width:25%">nombre Usuario</th>
                <th style="width:25%">mensaje</th>
                <th style="width:25%">foto1</th>
                <th style="width:25%">foto2</th>
                <th style="width:25%">foto3</th>
                <th style="width:25%">foto4</th>
                <th style="width:25%">Solucion</th>
                <th style="width:25%">firma</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.idfolios}}</td>
                <td>{{usuario.fecha_registro}}</td>
                <td>{{usuario.idtipo_servicio}}</td>
                <td>{{usuario.asunto}}</td>
                <td>{{usuario.estado_ticket}}</td>
                <td>{{usuario.idusuarios}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.mensaje}}</td>
                <td>{{usuario.foto1}}</td>
                <td>{{usuario.foto2}}</td>
                <td>{{usuario.foto3}}</td>
                <td>{{usuario.foto4}}</td>
                <td>{{usuario.Solucion}}</td>
                <td>{{usuario.firma}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>