<section class="container">
    <div>
        <p-table [value]="tickets" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            styleClass="p-datatable-sm" [scrollable]="true" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between fondo">
                    <div>
                        <h1>TICKETS</h1>
                        <p>Atiende los nuevos tickets</p>
                    </div>
                    <div>
                        <button pButton pRipple type="button" (click)="openNew()" label="Nuevo" ></button>
                        
                    </div>
                    
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>idfolios</th>
                    <th>fecha_registro</th>
                    <th>idtipo_servicio</th>
                    <th>asunto</th>
                    <th>estado_ticket</th>
                    <th>nombre Usuario</th>
                    <th>mensaje</th>

                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            foto1
                        </div>
                    </th>
                   
                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            solucion</div>
                    </th>
                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            Firma</div>
                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
                <tr>
                    <td>{{ticket.num_folio}}</td>
                    <td>{{ticket.fecha_registro | date:'short'}}</td>
                    <td>{{ticket.descripcion}}</td>
                    <td>{{ticket.asunto}}</td>
                    <td>{{ticket.estado_ticket}}</td>
                    <td>{{ticket.nombre}}</td>
                    <td>{{ticket.mensaje}}</td>

                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{ticket.foto1 | slice:0:4}}
                        </div>
                    </td>
                   
                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{ticket.Solucion}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{ticket.firma | slice:0:4}}
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>

<p-dialog [(visible)]="displayAddModal" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="header">
        <b>Agregar Ticket</b>
    </ng-template>
    <form [formGroup]="recoInfo" (ngSubmit)="addTicket()">
        <div class="field">
            <label for="insertUsuario">ASUNTO</label>
            <input formControlName="asunto"pInputText id="asunto" required autofocus>
            <small class="p-error" *ngIf="text && !ticke.asunto">Name is required.</small>
        </div>
        <div class="field">
            <label for="name">mensaje</label>
            <textarea formControlName="mensaje" inputId="mensaje" rows="3" style="resize: none;" cols="30" pInputTextarea></textarea>
            <small class="p-error" *ngIf="text && !ticke.mensaje">Name is required.</small>
        </div>
        <p-fileUpload [customUpload]="true"  name="foto1" accept=".jpg, .jpeg, .png" [fileLimit]="4" [maxFileSize]="2000000" [multiple]="true"></p-fileUpload> <!--(uploadHandler)="subirimg($event)"-->
    </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-trash" (click)="closeModal()" label="Limpiar" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" (click)="addTicket()" label="Confirmar" styleClass="p-button-text"></p-button>
        </ng-template>
    

</p-dialog>
