<section class="container">
    <div>
        <p-table [value]="tickets" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            styleClass="p-datatable-sm" [scrollable]="true" [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between fondo">
                    <div>
                        <h1>TICKETS</h1>
                        <p>Atiende los nuevos tickets</p>
                    </div>
                    <div>
                        <button pButton pRipple type="button" label="Nuevo"></button>
                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>idfolios</th>
                    <th>fecha_registro</th>
                    <th>idtipo_servicio</th>
                    <th>asunto</th>
                    <th>estado_ticket</th>
                    <th>idusuarios</th>
                    <th>nombre Usuario</th>
                    <th>mensaje</th>

                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            foto1
                        </div>
                    </th>
                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            foto2</div>
                    </th>
                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            foto3</div>
                    </th>
                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            foto4</div>
                    </th>
                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            solucion</div>
                    </th>
                    <th>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">

                            Firma</div>
                    </th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr>
                    <td>{{usuario.idfolios}}</td>
                    <td>{{usuario.fecha_registro}}</td>
                    <td>{{usuario.idtipo_servicio}}</td>
                    <td>{{usuario.asunto}}</td>
                    <td>{{usuario.estado_ticket}}</td>
                    <td>{{usuario.idusuarios}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.mensaje}}</td>

                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{usuario.foto1}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{usuario.foto2}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{usuario.foto3}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{usuario.foto4}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{usuario.Solucion}}
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sesionUsuario.clave== 'ADM' ||   sesionUsuario.clave == 'TEC'">
                            {{usuario.firma}}
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>

<p-dialog [(visible)]="texts" [style]="{width: '450px'}" header="Agregar Usuario" [modal]="true"
styleClass="p-fluid">

<ng-template pTemplate="content">

    <form [formGroup]="tickets" (ngSubmit)="addUsuario()">
        <div class="field">
            <label for="insertUsuario">N° Empleado</label>
            <input formControlName="num_empleado" type="number" pInputText id="num_empleado" required autofocus>
            <small class="p-error" *ngIf="text && !tickets.asunto">Name is required.</small>
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input formControlName="nombre" pInputText id="ubi" required autofocus>
            <small class="p-error" *ngIf="text && !tickets.descripcion">Name is required.</small>
        </div>
        <p-button (click)="closeModal()" label="Cancel" styleClass="p-button-text"></p-button>
        <p-button (click)="addUsuario()" label="AÑADIR" [disabled]="usuari.invalid"></p-button>
    </form>
<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
<div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="products">Are you sure you want to delete <b>{{products.num_empleado}}</b>?</span>
</div>
<ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
</ng-template>
</p-dialog>

