<section class="container">
    <div>
        <div class="flex align-items-center justify-content-between fondo">
            <div>
                <h1>REASIGNACION DE TICKET</h1>
                <br>
                <i>Este formulario se utiliza para reasignar tickets pendientes a los técnicos correspondientes, teniendo en cuenta la
                prioridad de cada solicitud.</i>
            </div>
        </div>
    </div>
</section>
<section class="container">

    <div class="grid">
        <p-card class="col-12 md:col-6" *ngIf="tickets">
            <div class="col-12 md:col-12">
                <p><strong>FOLIO:</strong> {{tickets.num_folio}}</p>
            </div>
            <div class="col-12 md:col-12">
                <p><strong>CLIENTE:</strong> {{tickets.nombre}}</p>
            </div>
            <div class="col-12 md:col-12">
                <p><strong>ASUNTO:</strong> {{tickets.asunto}}</p>
            </div>
            <div class="col-12 md:col-12">
                <p><strong>MENSAJE:</strong> {{tickets.mensaje}}</p>
            </div>
            <div class="col-12 md:col-12">
                <p><strong>AREA:</strong> {{tickets.nombre_area}}</p>
            </div>
            <div class="col-12 md:col-12">
                <p><strong>UBICACION:</strong> {{tickets.ubicacion}}</p>
            </div>
        </p-card>
        <div class="col-12 md:col-6">
            <Form [formGroup]="recoInfo">
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <p-dropdown [options]="servicio" placeholder="Seleccione el nivel de prioridad"
                            formControlName="idtipo_servicio" optionLabel="descripcion"
                            optionValue="idtipo_servicio"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-6">
                        <p-dropdown [options]="tecnicos" 
                        placeholder="Asignar ticket a:"
                            formControlName="numEmpl_Tecnicos" 
                            optionLabel="nombre"
                            optionValue="num_empleado"></p-dropdown>
                    </div>
                </div>
                
            </Form>
            <div class="col-12 md:col-12 text-right">
                <p-button styleClass="p-button-secondary mr-2" (click)="Cancelar()" label="Cancelar"></p-button>
                <p-button icon="pi pi-check" pRipple (click)="addTicket()" label="Guardar" styleClass="p-button-text"></p-button>
            </div>
        </div>
    </div>
</section>
<p-toast position="top-right"></p-toast>
<app-alerta></app-alerta>