/* You can add global styles to this file, and also import other style files */

  /* Aquí van todos los estilos CSS */

.login-register{
    position: relative;
    overflow: hidden;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }


  body,
  body .p-component
  {
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  .fondo-imagen{
    background-image: url(assets/images/big/LB_Login.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
  }
  @media only screen and (min-device-width: 960px){
  .fondo-imagen{
    background-image: url(assets/images/big/LB_Login.jpg);
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.tamano560{
    width: 560px;
}
.login-card{
  background: transparent;
    color: #495057;
    box-shadow:  0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 1.25rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
}


.container{
  width: 100%;
  padding: 20px 100px;
}
.containerReporte{
  width: 100%;
  padding: 0px 230px;
}
@media screen and (max-width: 640px) {
  .containerReporte {
    width: 100%;
    max-width: none;
  }
}

h1{
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

nav{
  padding: 10px 100px;
    background: #ededed;
}

.p-slidemenu ul{
  width: 100% !important;
}

.p-slidemenu-wrapper{
  width: 100% !important;
}

hr{
  border-color: #ffffff5c;
}

.fondo{
  width: 100%;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.apartado1{
 padding: 20px;
  height:110px;
  border:3px solid rgb(231, 231, 231);
  border-radius:22px;
}
 @media (max-width: 768px) {
   .wider-textarea textarea {
     width: 200px;
   }
 }

 @media (min-width: 768px) {
   .wider-textarea textarea {
     width: 650px;
   }
 }

@media (max-width: 768px) {
    .wider-dropdown .p-dropdown {
      width: 200px;
    }
  }

  @media (min-width: 768px) {
    .wider-dropdown .p-dropdown {
      width: 220px;
    }
  }
//EStilos de perfil abierto{
  
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#ededed, rgb(255, 141, 141));
  margin-bottom: 1.25rem;
}
.seccion-perfil-usuario .perfil-usuario-portada{
  margin-right: 1rem;
}
.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 90%;
  height: 17rem;
  background-image: linear-gradient(45deg, #ff5757, #d8d8d8);
  border-radius: 0 0 20px 20px;
  background-image:url('./assets/images/big/LB_LOGOS.png ');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  
}
.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #eee7e7;
  background-color: #fe9191bd;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 70%;
  position: relative;
  max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  width: 100%;
  color: #848484;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .lista-datos {
  width: 50%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

/* perfil responsive */
@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
      width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
      width: 95%;
  }

}
  //EStilos de perfil cerrado}

   
  .p-slidemenu .p-menuitem-link .p-submenu-icon {
    padding-right: 500px !important;
}